/* You can add global styles to this file, and also import other style files */
.bodySize{
    height: 98%;
    width: 98%;
}
* {box-sizing: border-box;}
.wrapper {
  max-width: 98%;
  height: 95%;
  margin: 0 auto;
}

.wrapper > div,app-home,about-us,app-workouts{
  border: 2px solid rgb(233,171,88);
  border-radius: 5px;
  background-color:whitesmoke;
    padding: 1em;
  color: #d9480f;
}.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
 
app-home, about-us,app-workouts{
    grid-column: 1/4;
    grid-row: 2/8;
}

.gridHeader{
    grid-column: 1/4 ;
  grid-row: 1;
}

.gridBody{
    grid-column: 1/4;
    grid-row: 2/7;
}

.gridFooter{
    grid-column: 1/4;
    grid-row: 7;
}

router-outlet{
  display: none;
}
